<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Cocktails</a>
  <div class="navbar-nav">
    <a class="btn btn-outline-warning btn-sm" routerLink="create/cocktail">Create cocktail</a>
  </div>
</nav>
