<div class="card m-2" style="width: 18rem;">
  <div class="card-header">
    <img [src]="cocktail.imageURL" class="card-img-top" alt="..." (click)="openModal(cocktail.id)">
  </div>
  <div class="card-body text-white bg-dark">
    <h5 class="card-title">{{ cocktail.nameCocktail }}</h5>
    <span class="mr-2">Type: </span>
    <strong class="card-text">{{ cocktail.type }}</strong>
  </div>

  <app-modal [openModal]="modalOpen" (close)="closeModal()" *ngIf="isCocktail">
    <div class="modal-body">
      <h3>{{ currentCocktail.nameCocktail }}</h3>
      <div class="container-img">
        <img [src]="currentCocktail.imageURL" class="modal-img" alt="...">
      </div>
      <label class="mr-5 d-block">Type: {{currentCocktail.type}}</label>
      <label *ngIf="!(currentCocktail.description === '')">Description:</label>
      <p>{{currentCocktail.description}}</p>
      <label>Ingredients:</label>
      <ul>
        <li *ngFor="let ingredient of currentCocktail.ingredients">
          <span>{{ingredient.ingredientName + ' - ' + ingredient.amount + ' ' + ingredient.unit}} </span>
        </li>
      </ul>
      <label>Instruction:</label>
      <p>{{ currentCocktail.instruction }}</p>
    </div>
  </app-modal>
</div>
