.container-img {
  width: 300px;
  max-height: 320px;
  margin: 2px auto;
  padding: 3px;
  border-radius: 20px;
}

.modal-img {
  width: 100%;
  height: auto;
}

.card-img-top {
  cursor: pointer;
  border: 1px solid gold;
  width: 100%;
  height: auto;
}

.card-header {
  background: rgba(0, 0, 0, 0.72);
  max-width: 300px;
  max-height: 320px;
}


