<div class="container p-2">
  <form class="w-75 ml-auto mr-auto border border-warning p-4" [formGroup]="form">
    <div class="form-group">
      <label for="nameCocktail">Name</label>
      <input type="text" class="form-control" id="nameCocktail" formControlName="nameCocktail">
      <small class="form-text text-muted" *ngIf="fieldHasError('nameCocktail', 'required')">Enter cocktail name</small>
    </div>
    <div class="form-group">
      <label for="imageURL">Image URL</label>
      <input type="text" class="form-control" id="imageURL" formControlName="imageURL" appUrl>
      <small *ngIf="fieldHasError('imageURL', 'urlInCorrect')"
             class="form-text invalid-form-text">
        Enter correct url
      </small>
      <small class="form-text text-muted" *ngIf="fieldHasError('imageURL', 'required')">Enter URL image</small>
    </div>
    <div class="form-group form-check">
      <span class="d-block">Type:</span>
      <input type="radio" class="form-check-input" id="alcohol" value="alcohol" formControlName="type">
      <label class="form-check-label" for="alcohol">Alcohol cocktail</label>
      <input type="radio" class="form-check-input" id="mocktail" value="mocktail" formControlName="type">
      <label class="form-check-label" for="mocktail">Mocktail</label>
      <small class="form-text text-muted" *ngIf="fieldHasError('type', 'required')">Check type</small>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" formControlName="description"></textarea>
    </div>
    <div class="form-group" formArrayName="ingredients">
      <Label>Ingredients:</Label>
      <div class="mb-2" *ngFor="let ingredient of getIngredientsControls(); let i = index">
        <div class="row" [formGroupName]="i">
          <div class="col-3">
            <input type="text" class="form-control" id="ingredientName" formControlName="ingredientName"
                   placeholder="Ingredient Name">
            <small class="form-text text-muted" *ngIf="fieldHasError('ingredientName', 'required')"
            >Enter ingredient</small>
          </div>
          <div class="col-3">
            <input type="text" class="form-control" id="amount" formControlName="amount" placeholder="Amount">
            <small class="form-text text-muted" *ngIf="fieldHasError('amount', 'required')"
            >Enter amount</small>
          </div>
          <div class="col-3">
            <label for="unit">Unit:</label>
            <select id="unit" formControlName="unit">
              <option value="gr">gr</option>
              <option value="ml">ml</option>
              <option value="oz">oz</option>
              <option value="pinch">pinch</option>
            </select>
            <small class="form-text text-muted" *ngIf="fieldHasError('unit', 'required')"
            >Enter amount</small>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-danger btn-sm" (click)="removeIngredient(i)">Delete ingredient</button>
          </div>
        </div>
      </div>
      <button class="btn btn-outline-success btn-sm" type="button" (click)="addIngredient()">Add ingredient</button>
    </div>
    <div class="form-group">
      <label for="instruction">Instruction:</label>
      <textarea class="form-control" id="instruction" formControlName="instruction"></textarea>
      <small class="form-text text-muted" *ngIf="fieldHasError('instruction', 'required')"
      >Enter instruction</small>
    </div>
    <button type="submit" class="btn btn-primary" (click)="createCocktail()" [disabled]="form.invalid ||load">Save
      <span class="spinner-grow text-warning spinner-grow-sm" role="status" *ngIf="load">
        <span class="sr-only">Loading...</span>
      </span>
    </button>
  </form>
</div>

