<div class="modal show" [ngStyle]="{display: openModal ? 'block' : 'none'}">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close">
          <span aria-hidden="true" (click)="closeModal()">&times;</span>
        </button>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
<div
  class="modal-backdrop show" [ngStyle]="{display: openModal ? 'block' : 'none'}"
></div>
