<div class="container p-2 d-flex flex-wrap" *ngIf="!loadingCocktails; else loading">
  <app-cocktails *ngFor="let cocktail of cocktails; let i = index" [cocktail]="cocktail"></app-cocktails>
</div>
<ng-template #loading>
  <div class="center">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</ng-template>





